header {
    background-color: lightgreen;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 500%;
    
}

main {
  min-height: 100vh;
}
section > div {
  text-align: center;
  background-color: lightgreen;
  font-weight: bolder;
  color:white;
}
#navigation {
  font-weight: 100;
  font-size:medium;
  text-align:center;
  /* Find way to separate nav bar elements */
} 
footer {
  background-color: lightgreen;
  color: white;
}
footer > ul {
  display:flex;
  justify-content: space-evenly;
  color:white;
  list-style-type: none;
}
