*{
  padding:0;
  margin:0
}
header {
    background-color: lightgreen;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 500%;
    padding-bottom: 3vh;
}
#header-logo {
  vertical-align:middle;
  height: 1em;
  position:left;
  color: white;
} 
header h4 {
padding:0;
position:relative;
}

.main-home{
  min-height: 100vh;
  background-image: url(Images/pexels-yan-krukau-8437076.jpg);
  background-size:cover;
  padding:0;
  margin:0;
}
section > div {
  text-align: center;
  background-color: lightgreen;
  font-weight: bolder;
  color:white;
}
#navigation {
  font-weight: 100;
  font-size:medium;
  text-align:center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 30px
} 

.Query-box {
  display: flex;
  flex-direction: row;
  gap:5%;
  border-width:10px;
  border: 5px solid;
  vertical-align: stretch; 
}

.contact-info {
  font-weight:500;
  list-style-type: none;
  align-content: space-between;
  flex-direction: column;
  align-items: stretch;
  padding-left: 10px;
}

#main-contact {
  height:100vh;
}

footer {
  background-color: lightgreen;
  color: white;
  padding: 10px 10px;
  margin: 0vh;
}
footer > ul {
  display:flex;
  justify-content: space-evenly;
  color:white;
  list-style-type: none;
}
